/* ==========================================================================
HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
========================================================================== */

html,
button,
input,
select,
textarea {
    color: #1f435a;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background-image: url("../img/bg-w.png");
    color: #312738;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
ALL: WhiteCat Theme
=================== */

.footer-container {
    background: #cbd6dd;
}

/* ==============
MOBILE: Menu
============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    padding: 5px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover,
nav a:visited {
    color: #1f435a;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
MOBILE: Main
============== */

.main article {
    padding-top: 36px;
}

.main article h1 {
    font-size: 2em;
}

/* ===============
ALL: IE Fixes
=============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
WhiteCat custom styles
========================================================================== */

a {
    color: inherit;
    cursor: pointer;
}

h3 {
    margin-top: 50px;
}

.shiny {
    color: #EEEEEE;
    text-shadow: 0px 0px 7px rgba(16, 255, 0, 0.52)
}

.monospace {
    font-family: "Courier New", Courier, monospace;
}

.centered {
    text-align: center;
}

.link {
    cursor: pointer;
    text-decoration: underline;
}

.clickable {
    cursor: pointer;
}

.rounded {
    border-radius: 10px;
}

.bordered {
    border: 1px solid #CCCCCC;
}

.v-spaced {
    margin: 15px 0;
}

.nostyle {
    text-decoration: none;
}

a:hover {
    text-shadow: 0px 0px 4px rgba(40,200,40,0.4);
}

.header {
    width: 100%;
    padding: 35px 0 20px 0;
    background-image: url("../img/bg.png");
}

.main-container {
    padding-top: 60px;
}

.top-logo {
    width: 100%;
    text-align: center;
}

.top-logo pre {
    line-height: 1em;
    font-size: 2em;
    margin: 0;
}

.board-prototype {
    width: 272px;
    margin-right: 15px;
}

h1 {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
}

section {
    padding-left: 30px;
}

.mail {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

code.form {
    -webkit-border-image: url("../img/airmail-border.png") 1 1 round;
    border-image: url("../img/airmail-border.png") 1 1 round;
    font-size: 12px;
    display: block;
    background-color: #f0f0f0;
    margin: 30px 30px 30px 0;
    padding: 5px 25px 15px 25px;
}

code.form > p {
    padding: 10px 0 0 0;
    line-height: 1em;
    width: 100%;
    border-bottom: 1px dashed #1f435a;
}

code.form > p span {
    padding-bottom: 10px;
    background-color: #f0f0f0;
}

.footer-container {
    height: 110px;
    overflow: hidden;
    padding-top: 20px;
}

.footer-container .wrapper {
    position: relative;
}

.logo {
    margin: 5px 20px;
}

.cornella {
    margin-top: 10px;
}

.citilab {
    margin-top: 8px;
}

.banner {
    margin-top: 20px;
}

#notyet {
    display: block;
    margin: 50px 0 2px 5px;
}

/* ==========================================================================
Media Queries
========================================================================== */

@media only screen and (min-width: 480px) {

    /* ====================
    INTERMEDIATE: Menu
    ==================== */

nav a {
    float: left;
    margin: 0 1%;
    padding: 5px 2% 5px 0;
    margin-bottom: 0;
}

nav li:first-child a {
    margin-left: 0;
}

nav li:last-child a {
    margin-right: 0;
}

/* ========================
INTERMEDIATE: IE Fixes
======================== */

nav ul li {
    display: inline;
}

.oldie nav a {
    margin: 0 0.7%;
}
}

@media only screen and (min-width: 768px) {


    /* ============
    WIDE: Menu
    ============ */

.title {
    float: left;
}

/*    nav {
float: left;
width: 100%;
}
 */

/* ============
WIDE: Main
============ */

.main article {
    width: 100%;
}

}

@media only screen and (min-width: 1140px) {

    /* ===============
    Maximal Width
    =============== */

.wrapper {
    width: 960px; 
    margin: 0 auto;
}
}

/* ==========================================================================
Helper classes
========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
              *text-indent: -9999px;
          }

          .ir:before {
              content: "";
              display: block;
              width: 0;
              height: 150%;
          }

          .hidden {
              display: none !important;
              visibility: hidden;
          }

          .visuallyhidden {
              border: 0;
              clip: rect(0 0 0 0);
              height: 1px;
              margin: -1px;
              overflow: hidden;
              padding: 0;
              position: absolute;
              width: 1px;
          }

          .visuallyhidden.focusable:active,
          .visuallyhidden.focusable:focus {
              clip: auto;
              height: auto;
              margin: 0;
              overflow: visible;
              position: static;
              width: auto;
          }

          .invisible {
              visibility: hidden;
          }

          .clearfix:before,
          .clearfix:after {
              content: " ";
              display: table;
          }

          .clearfix:after {
              clear: both;
          }

          .clearfix {
              *zoom: 1;
          }

          /* ==========================================================================
          Print styles
          ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
    content: "";
}

pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}

thead {
    display: table-header-group; /* h5bp.com/t */
}

tr,
img {
    page-break-inside: avoid;
}

img {
    max-width: 100% !important;
}

@page {
    margin: 0.5cm;
}

p,
h2,
h3 {
    orphans: 3;
    widows: 3;
}

h2,
h3 {
    page-break-after: avoid;
}
}
